body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
}
.wrapper-inner {
  display: flex;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  background: white;
  border-radius: 10px;
  box-shadow: 0.5px 10px 50px hsl(212, 23%, 69%);
}
.wrapper-inner-img {
  width: 40%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.section-two {
  width: 60%;
  padding: 35px;
}
.section-two h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  color: hsl(217, 19%, 35%);
}
.section-two p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 400;
  color: hsl(214, 17%, 51%);
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.profile-image {
  border-radius: 100%;
  width: 40px;
}
.profile-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-one div h2 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: hsl(217, 19%, 35%);
}
.profile-one div {
  margin-left: 20px;
}
.profile-one div p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.share {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
  cursor: pointer;
}
.share:hover {
  background: hsl(217, 19%, 35%);
}
.hidden {
  position: absolute;
  top: -170%;
  right: -20%;
  background: hsl(217, 19%, 35%);
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-radius: 10px;
}
.show {
  display: flex;
}
.bg {
  background: hsl(217, 19%, 35%);
}
.hidden p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.hidden img {
  margin: 0 0 0 20px;
}
.hidden div {
  position: absolute;
  width: 15px;
  height: 15px;
  background: hsl(217, 19%, 35%);
  bottom: -15%;
  right: 43%;
  rotate: 45deg;
}
@media screen and (max-width: 767px) {
  .wrapper-inner {
    max-width: 350px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: max-content;
  }
  .wrapper-inner-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .section-two {
    padding: 20px;
    width: 90%;
  }
  .section-two h1 {
    font-size: 20px;
  }
  .section-two p {
    margin: 10px 0 0;
    font-size: 15px;
  }
  .profile {
    margin-top: 50px;
  }
  .profile-one div h2 {
    font-size: 13px;
  }
  .profile-one div {
    margin-left: 15px;
  }
  .profile-one div p {
    font-size: 13px;
  }
  .share {
    z-index: 100;
  }
  .bg {
    background: rgba(255, 255, 255, 0.5);
  }
  .bg:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  .hidden {
    top: -52%;
    right: -5.5%;
    left: -5.5%;
    bottom: 0;
    height: 100%;
    justify-content:flex-start;
    display: none;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
  .hidden p {
    margin: 0;
  }
  .show {
    display: flex;
  }
  .hidden div {
    display: none;
  }
}
